/**
 * @file
 *
 * Our custom styles go hear.
 */

/**
 * Header Styles
 */
#top-nav {
  height: auto;
  border-bottom: none;
  background-color: #fff;
}
#branding-wrapper,
#client-wrapper {
  width: 100%;
  clear: both;
}
#login,
#client-menu {
  float: right;
  font-size: .9em;
}
#branding {
  float: left;
}
#navbar {
  float: right;
}
#navbar ul li:hover {
  background-color: transparent;
}

/**
 * Superfish Elements
 *
 * I used the "Simple" style supplied by Superfish, but made some adjustments
 * here for better visibility. This is just related to the base theme though,
 * so these can be overridden.
 */
.sf-menu.sf-style-simple a > .sf-sub-indicator {
	visibility: hidden;
}
.sf-menu.sf-style-simple.sf-horizontal > li:first-child,
.sf-menu.sf-style-simple.sf-horizontal > li:last-child, .sf-menu.sf-style-simple.sf-horizontal li li > ul > li.firstandlast, .sf-menu.sf-style-simple.sf-vertical li li > ul > li.firstandlast, .sf-menu.sf-style-simple.sf-navbar li li li > ul > li.firstandlast {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  border-radius: 0;
}
.sf-menu.sf-style-simple.sf-horizontal li,
.sf-menu.sf-style-simple.sf-navbar li {
  border: none;
}
.sf-menu.sf-style-simple li {
  background: none;
}
.sf-menu.sf-style-simple li.sf-depth-2 {
  background: #f1f1f1;
}
.sf-menu.sf-style-simple li.sf-depth-2:hover {
  background: #f3f3f3;
}
.sf-menu.sf-style-simple.sf-horizontal > li:first-child:hover > ul, .sf-menu.sf-style-simple.sf-horizontal > li:first-child.sfHover > ul {
  left: 0;
}
.sf-menu.sf-style-simple li:hover,
.sf-menu.sf-style-simple li.sfHover {
  background: none;
}
.sf-menu.sf-style-simple.sf-horizontal li:hover > ul, .sf-menu.sf-style-simple.sf-horizontal li.sfHover > ul {
  top: 46px;
}
.sf-menu.sf-style-simple a, .sf-menu.sf-style-simple a:visited, .sf-menu.sf-style-simple span.nolink {
  color: inherit;
  font: inherit;
  text-shadow: inherit;
}

/**
 * Custom list styles
 */
ul.disc li {
  list-style-type: disc;
}
ul.no-list-style li {
  list-style-type: none;
}

/**
 * Terms of Use styles
 */
#terms-of-use {
  height: 300px;
  overflow: scroll;
}

/**
 * Footer Styles
 */
footer {
  background-color: #3d3e42;
  color: rgba(219, 220, 222, .9);
}
footer a,
footer a.active {
  color: rgba(219, 220, 222, .9);
}
footer p {
  margin: 0;
}
footer ul li {
  margin-bottom: 0;
}
#footer-section {
  padding: 1em 0;
  max-width: 960px;
  margin: 0 auto;
}
.footer-column {
  width: 25%;
  float: left;
  margin: 0 auto;
  text-align: center;
}
.footer-inner-column {
  display: inline-block;
  text-align: left;
}
.footer-inner-column.getting-started {
  text-align: center;
  margin-top: 1em;
}
.footer-menu-50,
.footer-menu-100 {
  float: left;
  margin: 0 0 2em 0;
  padding: 0;
  list-style-type: none;
}
.footer-menu-50.right {
  margin-left: 2em;
}
.footer-note {
  clear: both;
  float: left;
}