/**
 * @file
 *
 * Our custom styles go here.
 */

/**
 * Basic Elements
 */

/**
 * Views Styles
 */
.views-table thead th,
.views-table tbody td {
  width: auto;
  text-align: left;
  padding-left: 12px;
}
.views-table th.active img {
  display: inline;
  float: right;
  padding-right: 12px;
}
.views-table thead th a {
  color: #ddd;
}
.views-field .assessment-img {
  float: right;
  padding: 12px;
}

/**
 * Header Styles
 */
#top-nav {
  height: auto;
  border-bottom: none;
  background-color: #fff;
}
#branding-wrapper,
#client-wrapper {
  width: 100%;
  clear: both;
}
#login,
#client-menu {
  float: right;
  font-size: .9em;
  text-transform: uppercase;
}
#client-menu ul {
  margin: 0;
}
#client-menu li {
  float: left;
  margin: 0 0 0 1em;
}
#branding {
  float: left;
}
#navbar {
  float: right;
}
#navbar ul li:hover {
  background-color: transparent;
}
#navbar ul li a {
  padding: 0 0 0 20px;
}

/**
 * Page Content Styles
 */
#page-content {
  margin-bottom: 1em;
}
.field.field-type-taxonomy-term-reference.field-label-above {
  float: left;
  padding-right: 12px;
}
#comments {
  clear: both;
  padding-top: 1em;
}

/**
 * Assessment Node Styles
 */
#node-assessment .assessment-img {
  padding: 12px;
}
#node-assessment .assessment-price {
  float: right;
}
#node-assessment .assessment-section-one {
}
#node-assessment .assessment-section-two {
}
#node-assessment .assessment-section-three {
}
#node-assessment .assessment-section-four {
}
#node-assessment .service-description {
}
#node-assessment .fieldset-legend {
  display: inline-flex !important;
}
#node-assessment .fieldset-list {
  padding: 0;
}
#node-assessment .fieldset-title h3 {
  margin: 0;
}
#node-assessment .fieldset-wrapper {
  padding-left: 1em;
  padding-top: 0.1px;
}


/**
 * Superfish Elements
 *
 * I used the "Simple" style supplied by Superfish, but made some adjustments
 * here for better visibility. This is just related to the base theme though,
 * so these can be overridden.
 */
.sf-menu.sf-style-simple a > .sf-sub-indicator {
	visibility: hidden;
}
.sf-menu.sf-style-simple.sf-horizontal > li:first-child,
.sf-menu.sf-style-simple.sf-horizontal > li:last-child, .sf-menu.sf-style-simple.sf-horizontal li li > ul > li.firstandlast, .sf-menu.sf-style-simple.sf-vertical li li > ul > li.firstandlast, .sf-menu.sf-style-simple.sf-navbar li li li > ul > li.firstandlast {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  border-radius: 0;
}
.sf-menu.sf-style-simple.sf-horizontal li,
.sf-menu.sf-style-simple.sf-navbar li {
  border: none;
}
.sf-menu.sf-style-simple li {
  background: none;
}
.sf-menu.sf-style-simple li.sf-depth-2 {
  background: #f1f1f1;
}
.sf-menu.sf-style-simple li.sf-depth-2:hover,
#navbar ul li.sf-depth-2:hover {
  background: #f9f9f9;
}
.sf-menu.sf-style-simple.sf-horizontal > li:first-child:hover > ul, .sf-menu.sf-style-simple.sf-horizontal > li:first-child.sfHover > ul {
  left: 0;
}
.sf-menu.sf-style-simple li:hover,
.sf-menu.sf-style-simple li.sfHover {
  background: none;
}
.sf-menu.sf-style-simple.sf-horizontal li:hover > ul, .sf-menu.sf-style-simple.sf-horizontal li.sfHover > ul {
  top: 46px;
}
.sf-menu.sf-style-simple a, .sf-menu.sf-style-simple a:visited, .sf-menu.sf-style-simple span.nolink {
  color: inherit;
  font: inherit;
  text-shadow: inherit;
}

/**
 * Custom list styles
 */
ul.disc li {
  list-style-type: disc;
}
ul.no-list-style li {
  list-style-type: none;
}

/**
 * User Page Styles
 */
.page-user #content {
  margin-top: 0;
}
.page-user .views-row,
#views-live-preview .view-id-user_account .views-row {
  border-bottom: none;
  margin: 0 !important;
}
.page-user .views-field,
#views-live-preview .view-id-user_account .view-field {
  float: left;
  clear: both;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.page-user .field-label-hidden,
#views-live-preview .view-id-user_account .field-label-hidden {
  float: left;
  padding-top: 3px;
}
.page-user .editablefield-edit,
#views-live-preview .view-id-user_account .editablefield-edit {
  border: none !important;
  background: transparent !important;
  margin: 0 0 26px 4px !important;
  padding: 0 !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  line-height: 100%;
  color: rgba(6, 120, 190, 1);
}
.page-user .form-actions,
#views-live-preview .view-id-user_account .form-actions {
  margin: 0;
}
.page-user .form-required,
#views-live-preview .view-id-user_account .form-required {
  display: none;
}
#edit-field-phone-0-actions-submit,
#views-live-preview .view-id-user_account #edit-field-phone-0-actions-submit {
  display: block !important;
}
.page-user .field-content.views-field-editablefield {
}
.page-user .views-field-editablefield fieldset {
  border: none;
}
.page-user .views-field-editablefield .form-item,
.page-user .views-field-editablefield fieldset {
  background: rgba(229, 242, 255, 1);
  padding: 10px;
}
.page-user #addressfield-wrapper #edit-field-address-0-field-address-und-0 {
  padding: 0;
}
.page-user #addressfield-wrapper .form-type-textfield,
.page-user #addressfield-wrapper .form-type-select {
  margin: 0;
  padding: 10px 0 0 10px;
}
.page-user .views-field-field-date-of-birth .form-item {
  padding: 0 !important;
  margin: 0;
}

/**
 * Terms of Use styles
 */
#terms-of-use {
  height: 300px;
  overflow: scroll;
}
#node-60 .agree-to-terms {
  display: none;
}
#node-60 #terms-of-use {
  height: auto;
  overflow: auto;
}

/**
 * Footer Styles
 */
footer {
  background-color: #3d3e42;
  color: rgba(219, 220, 222, 0.9);
  font-weight: 300;
}
footer a,
footer a.active {
  color: rgba(219, 220, 222, 0.9);
}
footer a:hover, footer a.active:hover { color: #fff; }
footer p {
  margin: 0;
}
footer ul li {
  margin-bottom: 0;
}
#footer-section {
  padding: 1em 0;
  max-width: 960px;
  margin: 0 auto;
}
#footer-bottom {
  width: 100%;
  text-align: center;
  clear: both;
  font-size: .9em;
  color: rgba(219, 220, 222, 0.5);
}
.footer-column {
  width: 25%;
  float: left;
  margin: 0 auto;
  text-align: center;
}
.footer-inner-column {
  display: inline-block;
  text-align: left;
}
.footer-inner-column.getting-started {
  text-align: center;
  margin-top: 1em;
}
.footer-menu-heading {
  font-weight: 300;
  clear: both;
}
.footer-menu-50,
.footer-menu-100 {
  float: left;
  margin: 0 0 2em 0;
  padding: 0;
  list-style-type: none;
}
.footer-menu-50.right {
  margin-left: 2em;
}
.footer-note {
  clear: both;
  float: left;
  color: rgba(219, 220, 222, 0.5);
}

/**
 * Media Queries
 */
@media (min-width: 1280px) {
  .container_12 {
    width: 1024px;
  }
  #footer-section {
    max-width: 1024px;
  }
}
@media (min-width: 1490px) {
  .container_12 {
    width: 1280px;
  }
  #footer-section {
    max-width: 1280px;
  }
}